.container
  .page-header
    h1.page-title {{$t('calculators.bmr_title')}}
  form
    .card.col-lg-12.card
      .card-body
        .row
          .col-sm-5
            .col-sm-12
              .form-group
                label.form-label {{$t('calculators.weight')}}
                input.form-control(type='text', v-model="weight")
            .col-sm-12
              .form-group
                label.form-label {{$t('calculators.height')}}
                input.form-control(type='text', v-model="height")
            .col-sm-12
              .form-group
                label.form-label {{$t('calculators.age')}}
                input.form-control(type='text', v-model="age")
            .col-sm-12
              .form-group
                label.form-label {{$t('calculators.sex')}}
                select.form-control.custom-select(v-model="sex")
                  option(name="sex", value="man") {{$t('calculators.man')}}
                  option(name="sex", value="woman") {{$t('calculators.woman')}}
            .col-sm-12
              .form-group
                label.form-label {{$t('calculators.unit_system')}}
                .selectgroup.w-100
                  label.selectgroup-item
                    input.selectgroup-input(type='radio', name='system', value='metric', v-model="unitSystem")
                    span.selectgroup-button METRIC
                  label.selectgroup-item
                    input.selectgroup-input(type='radio', name='system', value='imperial', v-model="unitSystem")
                    span.selectgroup-button IMPERIAL
          .col-sm-2
          .col-sm-5(v-if="result !== 0")
            .col-sm-10
              h1.text-center.m-2.font-weight-bold(style="color: #467fcf") {{result}} BMR
            .col-sm-12
              img.m-5(v-if="isSleeping", src="@/assets/images/sleep.svg" height="300px", width="300px")
              img.m-5(v-else, src="@/assets/images/sleep-2.svg" height="300px", width="300px")
