sweet-modal(overlay-theme='dark', modal-theme='light', ref="scheduleCloneModal", blocking)
  form(@submit.prevent="cloneSchedule")
    .card-body
      .form-group
        label {{$t('create_schedule.charge')}}
          span.form-required *
        selectize#select-users.form-control.custom-select(v-model="charge", :settings="settings", name="user").mt-2
          template(v-for="suggestion in suggestions")
            option(:value='JSON.stringify(suggestion)') {{suggestion.username}}
    .card-footer
      button.btn.btn-primary.float-right(type="submit", :disabled="charge === ''") {{$t('schedule_settings.clone')}}
