.schedule-panel {
  display: inline-block;
  display: -moz-inline-block;
  flex-wrap: nowrap;
  padding: 1rem;
  vertical-align: top;
  background-color: #fff;
  border-radius: 3px;
}
.exercise-list {
  position: relative;
  margin: 4px 0px 0px 0px;
}

.exercise {
  position: relative;
  background-color: #eaeaea;
  text-align: left;
  padding: 0px 0px 0px 4px;
  margin: 0px 0px 1px 0px;
  border-width: 1px 1px 0px 1px;
}

.exercise:last-child {
  border-width: 1px;
}

.exercise-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tag-addon {
  margin: 0 0 0 !important;
  white-space: nowrap;
}

.exercise.over {
  border-top: 3px dashed #dadada;
}

.container-scroll {
  width: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}