.container
	.page-header
		h1.page-title {{this.schedule.name}}
	.container-fluid.container-scroll
		.row.columns-14
			.span(v-if="this.schedule.days !== undefined")
				.schedule-panel.col-md-2(v-for="day in schedule.days")
					h4.user-name {{day.name}}
					.exercise-list
						draggable(v-model='day.exercises', @start='drag=true', @end='drag=false')
							div.exercise(v-for='element in day.exercises', :key='element.id')
								.card.p-3.mb-1
									.d-flex.align-items-center
										small {{element.name}}