sweet-modal(overlay-theme='dark', modal-theme='light', blocking, ref="scheduleDeleteModal")
  form(@submit.prevent="handleDelete")
    .card-body
      .form-group
        .alert.alert-icon.alert-warning(role='alert')
          i.fe.fe-alert-triangle.mr-2(aria-hidden='true')
          | {{$t('schedule_settings.note_1')}} #[strong {{scheduleName}}]
          br/
          br/
          | #[strong {{$t('schedule_settings.note_2')}}]
        input.form-control(type='text', :placeholder="this.$t('schedule_settings.confirmation_placeholder')", v-model="confirmation")
    .card-footer
      button.btn.btn-danger.float-right.ml-2(type='submit', :disabled="!(confirmation === $parent.schedule.name)") {{$t('schedule_settings.delete')}}
