.sweet-modal.is-alert  .sweet-content {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}

.sweet-modal .sweet-box-actions .sweet-action-close:hover {
  background-color: #467fcf;
}
