#discussions.tab-pane.fade.in.active.show
  .search
    form.form-inline.position-relative
      input#conversations.form-control(type='search', placeholder='Search for conversations...')
      button.btn.btn-link.loop(type='button')
        i.fa.fa-search
  #scroller.discussions
    h1 Chats
    #chats.list-group(role='tablist')
      chat-sidebar
