.container
  .page-header
    h1.page-title {{this.$t('schedule.page_title')}}
    .page-options.d-flex
      .btn-list.text-right
        button.btn.btn-outline-primary(:class="{'btn-loading': isLoading}", type='button', @click="fetchAll")
          i.fe.fe-rotate-cw.mr-2
          | {{this.$t('schedule.refresh')}}
        button.btn.btn-primary(type='button', v-if="isCoach", @click="$router.push('/dashboard/schedules/new')")
          i.fe.fe-plus.mr-2
          | {{this.$t('schedule.create')}}
  .card
    .table-responsive
      table.table.card-table.table-vcenter.text-nowrap
        thead
          tr
            th {{this.$t('schedule.name')}}
            th {{this.$t('schedule.active')}}
            th {{this.$t('schedule.created')}}
            th {{this.$t('schedule.updated')}}
            th
            th(v-if="isCoach")
        tbody(v-if="!isEmpty")
          tr(v-for="schedule in this.$store.state.schedule.schedules")
            td
              span.text-muted {{schedule.name}}
            td
              | {{$t(`boolean.${schedule.active}`)}}
            td
              | {{schedule.createdAt | moment}}
            td
              | {{schedule.updatedAt | moment}}
            td.text-right
              router-link.btn.btn-secondary.btn-sm(:to="'/dashboard/schedules/' + schedule.identifier") {{$t('schedule.show')}}
            td(v-if="isCoach && userIdentifier === schedule.creator")
              router-link.icon(:to="'/dashboard/schedules/' + schedule.identifier + '/settings'")
                i.fe.fe-edit
        tbody(v-else)
          tr
            th {{this.$t('schedule.no_schedules')}}