.my-3.my-md-5.ml-5
  template(v-if="exists && loading")
    .container.text-center
      .mt-9.dimmer.active
        .loader
  template(v-if="!exists")
    .container.text-center
      h1.mt-9 Twoja tablica jeszcze nie istnieje!
      button.btn.btn-primary(@click="createBoard")
        i.fe.fe-plus-circle.mr-2
        | Utwórz tablicę
  .board-container(v-else-if="!loading")
    .board
      .lists-container
        draggable(handle=".move", animation="150", group="labels", :list="board.labels", @change="onChange")
          template(v-for="(label, index) in board.labels")
            section.list-container
              .list-header
                .row.mr-0
                  .col-auto
                    h4.mb-5.mt-2
                      span.badge.badge-default.mr-2 {{label.tasks.length}}
                      | {{label.name}}
                  .card-options.col-auto.mb-5
                    .item-action.dropdown
                      span.icon.move.mr-2
                        i.fe.fe-move
                      span.icon.fake-link(:id="label.identifier", @click="toggleOptions(label.identifier)")
                        i.fe.fe-more-vertical
                      .dropdown-menu.dropdown-menu-right(:id="label.identifier + '.settings'", @mouseleave="toggleOptions(label.identifier)")
                        span.dropdown-item.fake-link(@click="removeLabel(label.identifier)")
                          i.dropdown-icon.fe.fe-trash-2
                          |  {{$t('board.delete')}}
                        span.dropdown-item.fake-link(@click="openChangeNameModal(label)")
                          i.dropdown-icon.fe.fe-edit-3
                          |  {{$t('board.change_name')}}
                draggable(animation="150", group="tasks", :list="label.tasks", @change="onChange")
                  task(v-for="task in label.tasks", :key="task.id", @click.native="openEditTaskModal(task, index)", :task="task")
              form(@submit.prevent="addTask(label.identifier + '_input', index)")
                .item-entry
                  .input-group
                    input.form-control(type='text', :placeholder="$t('board.new_task')", :ref="label.identifier + '_input'", required)
                    span.input-group-append
                      button.btn.btn-primary(type='submit')
                        i.fe.fe-plus
          section.list-container.mdi-opacity
            .list-header
              button.btn.btn-link.text-center(type="button", @click="addLabel") {{$t('board.add_label')}}
                i.fe.fe-plus.ml-2
  edit-task-modal(ref="taskEditModal")
  change-name-modal(ref="changeNameModal")

