div
  sweet-modal(overlay-theme='light', modal-theme='light', ref="exerciseEditModal")
    h3.card-title {{$t('schedule.edit_exercise')}}
    .card-body
      .row
        .col-md-12
          .form-group
            label.form-label {{$t('schedule.name')}}
              span.form-required *
            input.form-control(:class="{'is-invalid': $v.name.$error}", type='text', :placeholder="$t('schedule.name_placeholder')", v-model.trim="$v.name.$model")
            .invalid-feedback(v-if="!$v.name.required") {{$t('validation.name_required')}}
        .col-sm-6.col-md-4
          .form-group
            label.form-label {{$t('schedule.sets')}}
            input.form-control(type='number', placeholder='Sets', v-model="sets", min=1)
        .col-sm-6.col-md-4
          .form-group
            label.form-label {{$t('schedule.miniSets')}}
            input.form-control(type='number', placeholder='Minisets', v-model="miniSets")
        .col-sm-6.col-md-4
          .form-group
            label.form-label {{$t('schedule.reps')}}
            input.form-control(type='number', placeholder='Reps', v-model="reps", min=1)
        .col-md-6
          .form-group
            .custom-switches-stacked.mt-5
              label.custom-switch
                input.custom-switch-input(type='checkbox', name='custom-switch-checkbox', v-model="customTemplate")
                span.custom-switch-indicator
                span.custom-switch-description {{$t('schedule.add_own')}}
        .col-md-6(v-if="!customTemplate")
          .form-group
            label.form-label {{$t('schedule.template')}}
              span.form-required *
            vue-instant(
              :suggestOnAllWords='true',
              :suggestion-attribute='suggestionAttribute',
              v-model='template.name',
              :show-autocomplete='true',
              :autofocus='false',
              :suggestions='suggestions',
              type='custom',
              @input='changed',
              :placeholder="$t('schedule.template_placeholder')"
            )
        .col-md-6(v-else)
        template(v-if="customTemplate")
          .col-md-6
            .form-group
              label.form-label {{$t('schedule.muscle_group')}}
              select.form-control.custom-select(v-model="muscleGroup")
                option(v-for="item in musclesGroups", :value="item") {{item}}
          .col-md-6
            .form-group
              .custom-file
                label.form-label {{$t('schedule.example_images')}}
                button.btn.btn-primary(@click="$refs.imagesManagerModal.open()") {{$t('schedule.manage_images')}}
          .col-md-12
            .form-group
              label.form-label {{$t('schedule.brief')}}
                span.form-label-small {{brief.length}}/1000
              textarea.form-control(rows='6', :placeholder="$t('schedule.brief_placeholder')", v-model.trim="$v.brief.$model", maxlength=1000)
    .card-footer
      button.btn.btn-outline-primary.float-right.ml-2(slot='button', @click="$parent.editExercise(dayIndex)", :disabled="$v.$invalid || (!customTemplate && suggestions.length === 0)") {{$t('schedule.update')}}
      button.btn.btn-outline-danger.float-right(slot='button', @click="$parent.removeExercise(dayIndex, exercise.identifier)") {{$t('schedule.remove')}}
  sweet-modal(ref="imagesManagerModal")
    form(v-if="exercise.template", @submit.prevent="addExerciseImage")
      .card-body
        .row
          .col-md-4
            .form-group
              input(type="file", id="avatar", accept="image/png, image/jpeg", ref="exampleImages", multiple)
          .col-md-8.text-md-right
            button.btn.btn-primary(type="submit") {{$t('schedule.update')}}
        .dropdown-divider.mb-4
        .row.row-cards
          .col-md-3(v-for="(image, imageIndex) in exercise.template.exampleImages", :key="image")
            .card.p-2
              span.mb-1
                img.rounded.modal-image(:src="image")
              .d-flex.align-items-center.px-2
                button.btn.btn-danger.btn-block(type="button", @click="removeExerciseImage(imageIndex)") {{$t('schedule.delete')}}
                  i.fe.fe-trash-2.ml-2
