a#list-chat-list.filterDiscussions.all.unread.single.active(role='tab')
  img.avatar-md(src='https://i.ytimg.com/an_webp/uvhgK1X7C3I/mqdefault_6s.webp?du=3000&sqp=CMyE_eUF&rs=AOn4CLB-2eb3FX5zh5z10eG6WX94elQAkw', data-placement='top', alt='avatar')
  .status.online
  .data
    h5 Bartłomiej Stefański
    .new.bg-red.ml-2
      span 1+
    span Mon
    p Test very very very very very very very very very very very very large message
