.my-3.my-md-5
  .container
    .page-header
      h1.page-title Twoja lista zadań
    .board-container
      .board
        .lists-container
          section.list-container
            .list-header
              h4.text-center Do zrobienia
              Task(itemTitle="test xd", itemDescription="123")
            .item-entry
              .input-group
                input.form-control(type='text', placeholder='Dodaj nowe zadanie')
                span.input-group-append
                  button.btn.btn-primary(type='button')
                    i.fe.fe-plus
          section.list-container
            .list-header
              h4.text-center Do zrobienia
              Task(itemTitle="test xddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd", itemDescription="123")
              Task(itemTitle="test xd", itemDescription="123")
              Task(itemTitle="test xd", itemDescription="123")
              Task(itemTitle="test xd", itemDescription="123")
              Task(itemTitle="test xd", itemDescription="123")
              Task(itemTitle="test xd", itemDescription="123")
              Task(itemTitle="test xd", itemDescription="123")
            .item-entry
              .input-group
                input.form-control(type='text', placeholder='Dodaj nowe zadanie')
                span.input-group-append
                  button.btn.btn-primary(type='button')
                    i.fe.fe-plus
