.container
  .col-md-12
    .bottom
      form.text-area
        textarea.form-control(placeholder='Start typing for reply...', rows='1')
        .add-smiles
          i.fa.fa-smile-o(title='add icon', style="color: #2b2b2b")
        .smiles-bunch
          i.em.em---1
          i.em.em-smiley
          i.em.em-anguished
          i.em.em-laughing
          i.em.em-angry
          i.em.em-astonished
          i.em.em-blush
          i.em.em-disappointed
          i.em.em-worried
          i.em.em-kissing_heart
          i.em.em-rage
          i.em.em-stuck_out_tongue
          i.em.em-expressionless
          i.em.em-bikini
          i.em.em-christmas_tree
          i.em.em-facepunch
          i.em.em-pushpin
          i.em.em-tada
          i.em.em-us
          i.em.em-rose
        button.btn.send(type='submit')
          i.fe.fe-arrow-up-circle
