.container
  .page-header
    h1.page-title {{schedule.name}}
  form(@submit.prevent="updateSchedule")
    .card.col-lg-12
      .card-header
        h3.card-title {{this.$t('schedule_settings.card_title')}}
      .card-body
        #dimmer.dimmer(:class="{'active': isLoading}")
          .loader
          .dimmer-content
            .row
              .form-group.col-sm-8.col-md-5
                label.form-label
                  | {{this.$t('create_schedule.name')}}
                  span.form-required *
                input.form-control(:class="{'is-invalid': $v.name.$error}", type='text', :placeholder="this.$t('create_schedule.name_placeholder')", v-model.trim="$v.name.$model")
                .invalid-feedback(v-if="!$v.name.required") {{$t('validation.name_required')}}
                .custom-switches-stacked.mt-5
                  label.custom-switch
                    input.custom-switch-input(type='checkbox', name='custom-switch-checkbox' checked, v-model="active")
                    span.custom-switch-indicator
                    span.custom-switch-description {{this.$t('create_schedule.active')}}
              .form-group.col-sm-12.col-md-7
                label.form-label
                  | {{this.$t('create_schedule.note')}}
                  span.form-label-small {{note.length}}/1000
                textarea.form-control(rows='6', :placeholder="this.$t('create_schedule.complete_note')", v-model.trim="$v.note.$model", maxlength=1000)
                  | test sdasda
              .form-group.col-sm-12.col-md-12
                label.form-label {{this.$t('create_schedule.training_days')}}
                // TODO
                .selectgroup.selectgroup-pills
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='monday', v-model="monday")
                    span.selectgroup-button {{this.$t('days.monday')}}
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='tuesday', v-model="tuesday")
                    span.selectgroup-button {{this.$t('days.tuesday')}}
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='wednesday', v-model="wednesday")
                    span.selectgroup-button {{this.$t('days.wednesday')}}
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='thursday', v-model="thursday")
                    span.selectgroup-button {{this.$t('days.thursday')}}
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='friday', v-model="friday")
                    span.selectgroup-button {{this.$t('days.friday')}}
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='saturday', v-model="saturday")
                    span.selectgroup-button {{this.$t('days.saturday')}}
                  label.selectgroup-item
                    input.selectgroup-input(type='checkbox', name='sunday', v-model="sunday")
                    span.selectgroup-button {{this.$t('days.sunday')}}
      .card-footer.text-right
        button.btn.btn-primary(type='submit', :disabled="this.$v.$invalid") {{this.$t('schedule_settings.submit')}}
