span#list-chat-list.filterDiscussions.all.unread.single.fake-link(:class="{active: active}", role='tab', @click="openConversation(user.identifier)")
  img.avatar-md(v-if="user.avatar", :src="user.avatar", data-placement='top', alt='avatar')
  span.avatar-custom.avatar-md.avatar-blue.text-md-center(v-else) {{this.getInitials(this.user)}}
  .data
    h5 {{user.displayName || user.username}}
    span(v-if="lastMessageDate") {{lastMessageDate | moment}}
    p(:class="{'font-weight-bold': ping}") {{lastMessageText}}
