.row
  .col-sm-5
    .col-sm-12
      .form-group
        .custom-switches-stacked.mt-5
          label.custom-switch
            input.custom-switch-input(type='checkbox', name='copy_from', v-model="copyFromSchedule")
            span.custom-switch-indicator
            span.custom-switch-description {{$t('headway_create.copy_from')}}
    template(v-if="!copyFromSchedule")
      .col-sm-12
        label.form-label {{$t('headway_create.results')}}
      .col-sm-12(v-for="measurement in measurements")
        .form-group
          .row.gutters-xs
            .col.col-sm-4
              input.form-control(type="text", placeholder="Nazwa boju", v-model="measurement.name", required)
            .col.col-sm-3
              input.form-control(type='text', placeholder="Weight", v-model="measurement.value", required)
            .col.col-sm-3
              input.form-control(type='text', placeholder="Reps", v-model="measurement.reps", required)
            span.col-auto
              button.btn.btn-secondary(type='button', @click="removeFromMeasurements(measurement.id)")
                i.fe.fe-minus
      .col-sm-12
        form(@submit.prevent="appendToMeasurements")
          .form-group
            .row.gutters-xs
              .col.col-sm-4
                input.form-control(type="text", placeholder="Nazwa boju", v-model='name', required)
              .col.col-sm-3
                input.form-control(type='number', placeholder="Weight", v-model='weight', required)
              .col.col-sm-3
                input.form-control(type='number', placeholder="Reps", v-model="reps", required)
              span.col-auto
                button.btn.btn-secondary(type='submit')
                  i.fe.fe-plus
    template(v-else)
      .col-sm-12
        .form-group
          label.form-label {{$t('headway_create.choose_schedule')}}
          select.form-control.custom-select(v-model="typedSchedule", @change="onScheduleChange")
            option(value="default", disabled, selected) Select your option
            option(v-for="schedule in schedules", name="schedule", :value="schedule.identifier") {{schedule.name}}
      .col-sm-12(v-if="typedSchedule !== 'default'")
        .form-group
          label.form-label {{$t('headway_create.choose_day')}}
          select.form-control.custom-select(v-model="typedDay", @change="onDaysChange")
            option(value="default", disabled, selected) Select your option
            option(v-for="(day, index) in typedScheduleValue.days", name="days", :value="index") {{day.name}}
      .col-sm-12
        label.form-label {{$t('headway_create.results')}}
      .col-sm-12(v-if="typedDay !== 'default'", v-for="measurement in measurements")
        .form-group
          .row.gutters-xs
            .col.col-sm-4
              input.form-control(type="text", placeholder="Nazwa boju", v-model="measurement.name", required)
            .col.col-sm-3
              input.form-control(type='text', placeholder="Weight", v-model="measurement.value", required)
            .col.col-sm-3
              input.form-control(type='text', placeholder="Reps", v-model="measurement.reps", required)
            span.col-auto
              button.btn.btn-secondary(type='button', @click="removeFromMeasurements(measurement.id)")
                i.fe.fe-minus
