.page
  .page-singlel
    .container
      .row
        #col.col.col-login.mx-auto
          #logo.text-center
            img(src="@/assets/dark-logo.svg")
          form#card.card.mt-auto(@submit.prevent="createToken")
            #card-body.card-body.p-6
              #dimmer.dimmer(:class="{'active': isLoading}")
                .loader
                .dimmer-content
                  .card-title Forgot password?
                  .form-group
                    label.form-label Email
                    input.form-control(:class="{'is-invalid': $v.email.$error}", type="email", id="email", placeholder="Enter email", v-model.trim="$v.email.$model")
                    .invalid-feedback(v-if="!$v.email.required") Field is required
                    .invalid-feedback(v-if="!$v.email.email") Must be a well-formed email address.
                  .form-footer
                    button#submit.btn.btn-primary.btn-block(type="submit", :disabled="isInvalid") Submit
            #signup.text-center.text-muted
              p.
                #[router-link(to="/login") Return to login page]