.app
  .page
    .page-main
      .header.d-lg-flex.p-0
        .container
          .row.align-items-center
            Menu.menu-collapse
            .d-flex.order-lg-2.ml-auto
              NotificationDropdown
              ProfileDropdown
            a.header-toggler.d-lg-none.ml-3.ml-lg-0
              span.header-toggler-icon
      router-view