.container
  .page-header
    h1.page-title {{$t('headways.page_title')}}
  form(@submit.prevent="createHeadway")
    .card.col-lg-12
      .card-header
        h3.card-title {{$t('headway_create.page_title')}}
      .card-body
        #dimmer.dimmer(:class="{'active': isLoading}")
          .loader
          .dimmer-content
            .col-sm-4
              .form-group
                label.form-label {{$t('headway_create.type')}}
                select.form-control.custom-select(v-model="type")
                  option(name="type", value="BUILD") Bodybuilding
                  option(name="type", value="STRENGTH") Powerbuilding
            Build(v-if="type === 'BUILD'", ref="build")
            Strength(v-else, ref="strength")
      .card-footer.text-right
        button.btn.btn-primary(type='submit') {{$t('headway_create.submit')}}
