.container
  .page-header
    h1.page-title {{this.$t('create_schedule.page_title')}}
  form(@submit.prevent="createSchedule")
    .card.col-lg-12
      .card-header
        h3.card-title {{this.$t('create_schedule.card_title')}}
      .card-body
        #dimmer.dimmer(:class="{'active': isLoading}")
          .loader
          .dimmer-content
            .row
              .form-group.col-sm-6
                label.form-label
                  | {{this.$t('create_schedule.name')}}
                  span.form-required *
                input.form-control(:class="{'is-invalid': $v.name.$error}", type='text', :placeholder="this.$t('create_schedule.name_placeholder')", v-model.trim="$v.name.$model")
                .invalid-feedback(v-if="!$v.name.required") {{$t('validation.name_required')}}

              .form-group.col-sm-6
                label.form-label
                  | {{this.$t('create_schedule.charge')}}
                  span.form-required *
                selectize#select-users.form-control.custom-select(v-model="charge", :settings="settings", name="user")
                  template(v-for="suggestion in suggestions")
                    option(:value='JSON.stringify(suggestion)') {{suggestion.username}}

              .form-group.col-sm-6
                label.form-label
                  | {{this.$t('create_schedule.note')}}
                  span.form-label-small {{note.length}}/1000
                textarea.form-control(rows='6', :placeholder="this.$t('create_schedule.complete_note')", v-model.trim="$v.note.$model", maxlength=1000)

              .form-group.col-sm-12
                label.form-label {{this.$t('create_schedule.training_days')}}
                .selectgroup.selectgroup-pills
                  template(v-for="(day, key, index) in this.$t('days')")
                    label.selectgroup-item
                      input.selectgroup-input(type='checkbox', :name="key", v-model="days[index].trainingDay")
                      span.selectgroup-button {{day}}
      .card-footer.text-right
        button.btn.btn-primary(type='submit', :disabled="this.$v.$invalid || charge === ''") {{this.$t('create_schedule.create')}}
