.container
  .page-header
    h1.page-title {{this.$t('headways.page_title')}}
    .page-options.d-flex
      .btn-list.text-right
        button.btn.btn-primary(type='button', @click="$router.push('/dashboard/headway-journals/new')")
          i.fe.fe-plus.mr-2
          | {{this.$t('headways.create')}}
  .row.row-cards
    template(v-for="headway in headways")
      .col-sm-6.col-lg-4
        .card.p-3
          span.mb-3
            img.rounded(v-if="headway.images[0]", :src="headway.images[0]")
            img.rounded(src="@/assets/images/no-image.png")
          .d-flex.align-items-center.px-2
            .ml-auto.text-muted
              span.icon.d-none.d-md-inline-block.ml-3
                i.fe.fe-calendar.mr-1
                | {{headway.createdAt}}

