#chat-dialog.main
  #nav-tabContent.tab-content
    #list-chat.babble.tab-pane.fade.active.show(role='tabpanel')
      #chat1.chat
        .top
          .container
            .col-md-12
              .inside
                .data
                  h5
                    router-link(:to="'/profile/' + this.$route.params.id") {{recipient.displayName || recipient.username}}
                  span(v-if="recipient") {{$t('accountType.' + recipient.accountType)}}
                button.btn.back-to-mesg(title='Back', @click="backToChats")
                  i.fe.fe-arrow-right
        #content.content
          .container
            .col-md-12
              .date
                hr
                span {{$t('chat.beginning')}}
                hr
              template(v-for="message in messages")
                balloon(v-if="message.senderName === sender.username", :sentByOwner="true", :user="sender", :message="message.body")
                balloon(v-else-if="message.senderName === recipient.username", :sentByOwner="false", :user="recipient", :message="message.body")
        typing_area
