#discussions.tab-pane.fade.in.active.show
  .search
    form.form-inline.position-relative
      input#conversations.form-control(@input="changed", type='search', :placeholder="$t('chat.search_conversations')", v-model="searchQuery")
      button.btn.btn-link.loop(type='button')
        i.fa.fa-search
  #scroller.discussions
    h1 {{$t('chat.chats')}}
    #chats.list-group(role='tablist')
      template(v-if="searchQuery.length !== 0", v-for="suggestion in suggestions")
        chat-sidebar(:ping="false", :user="suggestion", lastMessage="")
      template(v-else, v-for="conversation in conversations")
        chat-sidebar(:ping="false", :user="conversation", lastMessage="Ostatnia wiadomość")
