.my-3.my-md-5.ml-5
  template(v-if="!exists")
    .container.text-center
      h1.mt-9 Twoja tablica jeszcze nie istnieje!
      button.btn.btn-primary(@click="createBoard")
        i.fe.fe-plus-circle.mr-2
        | Utwórz tablicę
  .board-container(v-else)
    .board
      .lists-container
        draggable(:options="{animation: 150, group:'labels'}", v-for="label in this.board.labels")
          section.list-container.move
            .list-header
              .row.mr-0
                .col-auto
                  h4.mb-5.mt-2
                    span.badge.badge-default.mr-2 {{label.tasks.length}}
                    | {{label.name}}
                .card-options.col-auto.mb-5
                  .item-action.dropdown
                    span.icon.fake-link(:id="label.identifier", @click="toggleOptions(label.identifier)")
                      i.fe.fe-more-vertical
                    .dropdown-menu.dropdown-menu-right(:id="label.identifier + '.settings'", @mouseleave="toggleOptions(label.identifier)")
                      span.dropdown-item.fake-link
                        i.dropdown-icon.fe.fe-trash-2
                        |  {{$t('board.delete')}}
                      span.dropdown-item.fake-link
                        i.dropdown-icon.fe.fe-edit-3
                        |  {{$t('board.change_name')}}
              draggable(:options="{animation: 150, group:'tasks'}", :list="label.tasks", v-model="label.tasks")
                Task(v-for="task in label.tasks", :key="task.id", :itemTitle="task.name", :itemDescription="task.content")
            .item-entry
              .input-group
                input.form-control(type='text', :placeholder="$t('board.new_task')")
                span.input-group-append
                  button.btn.btn-primary(type='button')
                    i.fe.fe-plus
        section.list-container.mdi-opacity
          .list-header
            button.btn.btn-link.text-center {{$t('board.add_label')}}
              i.fe.fe-plus.ml-2

