div
  .container
    .page-header
      h1.page-title {{$t('headway.page_title')}} {{headway.createdAt | moment}}
    .card.col-lg-12
      .card-body
        #dimmer.dimmer(:class="{'active': isLoading}")
          .loader
          .dimmer-content
            Build(v-if="!isLoading && headway.type === 'BUILD'", :headway="headway")
            Strength(:headway="headway")
  sweet-modal(ref="image-modal")
    img.modal-image(:src="modalImage")
