.container
  .page-header
    h1.page-title Dashboard
  #dimmer.dimmer(:class="{'active': isLoading}")
    .loader
    .dimmer-content
      .row
        template(v-for="element in summaryElements")
          .col-sm-3
            .card
              .card-body.text-center
                .h5.text-nowrap {{element.name}}
                  span.ml-3
                    i(:class="element.icon")
                .display-4.font-weight-bold.mb-4 {{element.value}}
      .row
        .col-sm-6
          .card
            .card-header
              h3.card-title {{$t('home.chart_name')}}
            vue-c3.c3#chart-development-activity(:handler="handler")
            .table-responsive
              table.table.card-table.table-striped.table-vcenter
                thead
                  tr
                    th {{$t('home.weight')}}
                    th {{$t('home.date')}}
                tbody
                  tr(v-for="measurement in findWeightMeasurements(5)")
                    td(style="width: 100%") {{measurement.value}} kg
                    td.text-nowrap {{measurement.date | moment}}
        .col-sm-6
          .card.p-3
            .d-flex.align-items-center(v-if="unreadNotifications.hasUnread")
              span.stamp.stamp-md.bg-red.mr-3
                i.fe.fe-bell
              div
                h4.m-0
                  router-link(to='/dashboard/notifications')
                    | {{unreadNotifications.count}}
                    small.ml-2 {{$t('home.unreadNotifications')}}
            .d-flex.align-items-center(v-else)
              span.stamp.stamp-md.bg-green.mr-3
                i.fe.fe-bell-off
              div
                | {{$t('home.noUnreadNotifications')}}
