#chat-dialog.main
  #nav-tabContent.tab-content
    #list-chat.babble.tab-pane.fade.active.show(role='tabpanel')
      #chat1.chat
        .top
          .container
            .col-md-12
              .inside
                .status(:class="{'online': online, 'offline': !online}")
                .data
                  h5
                    router-link(:to="'/profile/' + this.$route.params.id") {{recipient.username}}
                  span(v-if="online") Active now
                  span(v-else) Offline now
                button.btn.back-to-mesg(title='Back')
                  i.ti-arrow-right
        #content.content
          .container
            .col-md-12
              .date
                hr
                span Yesterday
                hr
              template(v-for="message in messages")
                balloon(v-if="message.from === sender.username", :sentByOwner="true", :avatar="sender.avatar", :username="message.from", :message="message.text", :date="message.time")
                balloon(v-else-if="message.from === recipient.username", :sentByOwner="false", :avatar="recipient.avatar", :username="message.from", :message="message.text", :date="message.time")
        typing_area
