div
  .map-header
    .map-header-layer(style="position: relative; overflow: hidden; z-index: -1;")
      div(style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);")
        img(src="@/assets/images/default-profile-background.jpeg", style="object-fit: cover !important;")
  .container
    #dimmer.dimmer(:class="{'active': isLoading}")
      .loader
      .dimmer-content
        .col-sm-12
          .card.card-profile
            .card-body.text-center
              img.card-profile-img(v-if="avatar", :src='avatar')
              span.avatar.avatar-blue.avatar-lg.text-center.card-profile-img(v-else) {{getInitials(username, displayName)}}
              h3.mb-3 {{displayName || username}}
              h4.mb-3(style="font-weight: 500") {{title || $t('profile.none')}}
              p.mb-4
                | {{bio || $t('profile.bio_empty')}}
              template(v-if="!isProfileOwner")
                button.btn.btn-primary(type='button', v-if="!isFollowing", @click="follow").mr-1
                  i.fe.fe-user-plus.mr-2
                  | {{$t('profile.follow')}}
                button.btn.btn-primary(type='button', v-else, @click="unfollow").mr-1
                  i.fe.fe-user-minus.mr-2
                  | {{$t('profile.unfollow')}}
                .dropdown
                  button.btn.btn-outline-primary(type='button', @click="toggleMoreMenu")
                    i.fe.fe-plus.mr-2
                    | {{$t('profile.more')}}
                  .dropdown-menu#more_menu
                    span.dropdown-item(@click="$refs['add-recommendation-modal'].openModal()") {{$t('profile.add_recommendation')}}
                    span.dropdown-item(@click="$refs['share-modal'].openModal()") {{$t('profile.share')}}
        .row
          .col-sm-4
            .col-sm-12
              .card
                .card-body(style="font-weight: 600")
                  p {{$t('profile.location')}}
                    span.tag.ml-2 {{location || $t('profile.none')}}
                  p {{$t('profile.site')}}
                    span(style="font-weight: 500").ml-1
                      a(:href="website", target="_blank") {{website || $t('profile.none')}}
                  p {{$t('profile.services')}}
                    span.tag.ml-1.mb-2(v-for="service in services") {{service}}
                  div.mt-6
                    button.btn.btn-twitter.btn-sm.mr-1
                      span.fe.fe-twitter.mr-1
                      |  Follow
                    button.btn.btn-facebook.btn-sm.mr-1
                      span.fe.fe-facebook.mr-1
                      |  Like
                    button.btn.btn-instagram.btn-sm.mr-1
                      span.fe.fe-instagram.mr-1
                      |  Follow
            .col-sm-12(v-if="following.length > 0")
              .card
                .card-header
                  h3.card-title {{$t('profile.following')}}
                .card-body
                  .avatar-list.avatar-list-stacked
                    template(v-for="(followingUser, index) in following")
                      router-link(:to="'/dashboard/profiles/' + followingUser.identifier", v-if="index <= 6")
                        span.avatar.avatar-lg(v-if="followingUser.avatar", :style="{'background-image': `url(${followingUser.avatar})`}")
                        span.avatar.avatar-lg.avatar-blue(v-else) {{getInitials(followingUser.username, followingUser.displayName)}}
                      span.avatar.avatar-lg(v-if="following.length > 7 && index === following.length - 1") +{{following.length - 7}}
            .col-sm-12(v-if="followers.length > 0")
              .card
                .card-header
                  h3.card-title {{$t('profile.followers')}}
                .card-body
                  .avatar-list.avatar-list-stacked
                    template(v-for="(follower, index) in followers")
                      router-link(:to="'/dashboard/profiles/' + follower.identifier", v-if="index <= 6")
                        span.avatar.avatar-lg(v-if="follower.avatar", :style="{'background-image': `url(${follower.avatar})`}")
                        span.avatar.avatar-lg.avatar-blue(v-else) {{getInitials(follower.username, follower.displayName)}}
                      span.avatar.avatar-lg(v-if="followers.length > 7 && index === followers.length - 1") +{{followers.length - 7}}
          .col-sm-8
            .col-sm-12
              .card
                .card-status.bg-warning
                .card-header
                  h3.card-title {{$t('profile.recommendations')}}
                  .ml-auto.text-muted
                    i.fe.fe-star.ml-2
                    i.fe.fe-star.ml-2
                    i.fe.fe-star.ml-2

                ul.list-group.card-list-group(v-if="recommendations.length === 0")
                  li.list-group-item.py-5
                    | {{$t('profile.none')}}
                ul.list-group.card-list-group(v-else)
                  li.list-group-item.py-5(v-for="recommendation in recommendations", :class="{'recommendation': isProfileOwner}", v-if="isProfileOwner || !isProfileOwner && recommendation.visible")
                    .btn-list.text-center.mt-7
                      button.recommendation-button.btn.btn-secondary.btn-md {{$t('profile.request_revision')}}
                      button.recommendation-button.btn.btn-secondary.btn-md {{$t('profile.change_visibility')}}
                    .media
                      .media-object.avatar.avatar-md.mr-4(:style="{'background-image': `url(${recommendation.avatar})`}")
                      .media-body
                        .media-heading
                          small.float-right.text-muted {{recommendation.lastModifiedDate | moment}}
                          h5 {{recommendation.fromUsername}}
                        div {{recommendation.content}}
                        .media-bottom
                          .float-right.text-muted {{$t('profile.rate')}}
                            span.font-weight-bold {{recommendation.rating}}/10
  share-modal(ref="share-modal", :link="$route.fullPath")
  add-recommendation-modal(ref="add-recommendation-modal", :profileUserId="$route.params.id")
