.page
  .page-singlel
    .container
      .row
        #col.col.col-login.mx-auto
          #logo.text-center
            img(src="@/assets/dark-logo.svg")
          form#card.card.mt-auto(@submit.prevent="login")
            #card-body.card-body.p-6
              #dimmer.dimmer(:class="{'active': isLoading}")
                .loader
                .dimmer-content
                  .card-title Login to your account
                  .form-group
                    label.form-label Username
                    input.form-control(:class="{'is-invalid': $v.username.$error}", type="text", id="username", placeholder="Enter username", v-model.trim="$v.username.$model")
                    .invalid-feedback(v-if="!$v.username.required") Field is required
                  .form-group
                    label.form-label Password
                      a#float-right.float-right.small #[router-link(to='/forgot-password') I forgot password]
                    input.form-control(:class="{'is-invalid': $v.password.$error}", type="password", id="password", placeholder="Enter password", v-model.trim="$v.password.$model")
                    .invalid-feedback(v-if="!$v.password.required") Field is required
                  .form-footer
                    button#submit.btn.btn-primary.btn-block(type="submit", :disabled="isInvalid") Sign in
            #signup.text-center.text-muted
              p.
                Don't have account yet? #[router-link(to="/register") Sign up]