sweet-modal(overlay-theme='dark', modal-theme='light', ref="changeNameModal", blocking)
  form(@submit.prevent="$parent.editLabelName")
    .card-body
      .form-group
        label.form-label {{$t('board.name')}}
          span.form-required.ml-1 *
        input.form-control(:class="{'is-invalid': $v.name.$error}", type='text', :placeholder="$t('board.name')", v-model.trim="$v.name.$model")
        .invalid-feedback(v-if="!$v.name.required") {{$t('validation.name_required')}}
    .card-footer
      button.btn.btn-primary.float-right(slot='submit', :disabled="$v.invalid") Zmień
