.container
  .page-header
    h1.page-title {{this.$t('create_schedule.page_title')}}
  form(@submit.prevent="createSchedule")
    .card.col-lg-12
      .card-header
        h3.card-title {{this.$t('create_schedule.card_title')}}
      .card-body
        #dimmer.dimmer(:class="{'active': isLoading}")
          .loader
          .dimmer-content
            .row
              .form-group.col-sm-8.col-md-5
                label.form-label
                  | {{this.$t('create_schedule.name')}}
                  span.form-required *
                input.form-control(:class="{'is-invalid': $v.name.$error}", type='text', :placeholder="this.$t('create_schedule.name_placeholder')", v-model.trim="$v.name.$model")
                .invalid-feedback(v-if="!$v.name.required") {{$t('validation.name_required')}}
              .form-group.col-sm-8.col-md-7
                label.form-label
                  | {{this.$t('create_schedule.charge')}}
                  span.form-required *
                .input-group
                  span.input-group-prepend
                    span.input-group-text @
                  input.form-control(:class="{'is-invalid': $v.charge.$error}", type='text', :placeholder="this.$t('create_schedule.username_placeholder')", v-model.trim="$v.charge.$model")
                  .invalid-feedback(v-if="!$v.charge.required") {{$t('validation.charge_required')}}
              .form-group.col-sm-10.col-md-5.mt-5
                .custom-switches-stacked
                  label.custom-switch
                    input.custom-switch-input(type='checkbox', name='custom-switch-checkbox' checked, v-model="active")
                    span.custom-switch-indicator
                    span.custom-switch-description {{this.$t('create_schedule.active')}}
              .form-group.col-sm-12.col-md-7
                label.form-label
                  | {{this.$t('create_schedule.note')}}
                  span.form-label-small {{note.length}}/1000
                textarea.form-control(rows='6', :placeholder="this.$t('create_schedule.complete_note')", v-model.trim="$v.note.$model", maxlength=1000)
              .form-group.col-sm-12.col-md-12
                label.form-label {{this.$t('create_schedule.training_days')}}
                .selectgroup.selectgroup-pills
                  template(v-for="(day, key, index) in this.$t('days')")
                    label.selectgroup-item
                      input.selectgroup-input(type='checkbox', :name="key", v-model="days[index].trainingDay")
                      span.selectgroup-button {{day}}
      .card-footer.text-right
        button.btn.btn-primary(type='submit', :disabled="this.$v.$invalid") {{this.$t('create_schedule.create')}}
